- action_list = []
- (["inappropriate", "spam"] - [comment.status]).each do |status|
  - action_list << {:name => "Flag as #{status}", :url => feedback_admin_comment_path(comment, :feedback_comment => {:status => status} ), :options => {:method => :put} }

= render "feedback/shared/action_button", :btn_text => "Actions", :action_list => action_list, :id => comment.id
