- content_for :page_header do
  .row
    .span6.offset3
      .page-header
        %h2
          Blog Posts
          %small
            these are really cool man
    .span3

.row
  .span6.offset3
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %td
            Title
          %td
            Body
      %tbody
        - @blog_posts.each do |p|
          %tr
            %td
              = link_to p.title, p
            %td
              = truncate p.body
            
  .span3